In [1]:
### Pregunta 1 #### Grupo 9 ####

from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 95%; }
    div#maintoolbar-container { width: 65%; }a
</style>
"""))

In [2]:
#1.0 Set directorio
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
#2.0 Cargar dataset de ENAHO
enaho01 = pd.read_stata( r"../../enaho//2020/737-Modulo01/737-Modulo01/enaho01-2020-100.dta")
sumaria = pd.read_stata(r"../../enaho/2020/737-Modulo34/737-Modulo34/sumaria-2020.dta")

In [4]:
#3.0 Juntar bases
        # _merge3 == 3 Mantener solo la intercepción

enaho_2020 = pd.merge(enaho01, sumaria,
                       on = ["conglome", "vivienda", "hogar"],
                       how = "left", 
                       suffixes=('', '_y'))

In [5]:
#4.0 Filtrar variables a usar

enaho_2020 = enaho_2020[["conglome", "vivienda", "hogar" ,"ubigeo", 
                   "aÑo" , "mieperho", "inghog1d", 
                   "gashog2d", "ld"]]

In [6]:
### Repetir procedimientos con data 2019
"2.0"
enaho01 = pd.read_stata(r"../../enaho/2019/687-Modulo01/687-Modulo01/enaho01-2019-100.dta")
sumaria = pd.read_stata(r"../../enaho/2019/687-Modulo34/687-Modulo34/sumaria-2019.dta")

"3.0"
enaho_2019 = pd.merge(enaho01, sumaria,
                       on = ["conglome", "vivienda", "hogar"],
                       how = "left", 
                       suffixes=('', '_y'))

"4.0"
enaho_2019 = enaho_2019[["conglome", "vivienda", "hogar" ,"ubigeo", 
                   "aÑo" , "mieperho", "inghog1d", 
                   "gashog2d", "ld"]]

In [7]:
# 5.0 Append de base 2019 y 2020
merge_append = enaho_2020.append(enaho_2019, 
                                 ignore_index = True)
    #ignore_index= True : no haya conflictos de indexing 
merge_append

C:\Users\acwe\AppData\Local\Temp\ipykernel_14456\1072011287.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge_append = enaho_2020.append(enaho_2019,

,conglome,vivienda,hogar,ubigeo,aÑo,mieperho,inghog1d,gashog2d,ld
0,005009,012,11,010101,2020,2.0,37274.425781,25065.796875,0.815806
1,005009,041,11,010101,2020,2.0,41967.570312,28650.019531,0.815806
2,005009,056,11,010101,2020,NaN,NaN,NaN,NaN
3,005009,084,11,010101,2020,NaN,NaN,NaN,NaN
4,005009,098,11,010101,2020,6.0,42292.535156,38136.218750,0.815806
...,...,...,...,...,...,...,...,...,...
97286,011350,022,11,180101,2019,3.0,53529.687500,37693.914062,0.854033
97287,011350,059,11,180101,2019,3.0,47931.878906,23070.037109,0.854033
97288,011350,078,11,180101,2019,3.0,19304.390625,17665.404297,0.854033
97289,011350,097,11,180101,2019,5.0,20722.503906,19194.562500,0.854033
97290,011350,116,11,180101,2019,3.0,28237.265625,20285.361328,0.854033

In [8]:
  #Año:
merge_append.rename(columns={"aÑo":"aniorec"}, 
                    inplace=True)
merge_append=merge_append.astype({'aniorec':float})
    # Nota, se tiene que convertir a float para luego hacer merge
merge_append["aniorec"]

0        2020.0
1        2020.0
2        2020.0
3        2020.0
4        2020.0
          ...
97286    2019.0
97287    2019.0
97288    2019.0
97289    2019.0
97290    2019.0
Name: aniorec, Length: 97291, dtype: float64

In [9]:
  #Departamento:
merge_append['dpto'] = merge_append['ubigeo'].str[:2]
merge_append= merge_append.astype({'dpto':float}) 
    # Nota, se tiene que convertir a float para luego hacer merge
merge_append.head(10)

,conglome,vivienda,hogar,ubigeo,aniorec,mieperho,inghog1d,gashog2d,ld,dpto
0,005009,012,11,010101,2020.0,2.0,37274.425781,25065.796875,0.815806,1.0
1,005009,041,11,010101,2020.0,2.0,41967.570312,28650.019531,0.815806,1.0
2,005009,056,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0
3,005009,084,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0
4,005009,098,11,010101,2020.0,6.0,42292.535156,38136.218750,0.815806,1.0
5,005009,126,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0
6,005015,007,11,010101,2020.0,4.0,37866.210938,26812.154297,0.815806,1.0
7,005015,019,11,010101,2020.0,4.0,96790.960938,63311.539062,0.815806,1.0
8,005015,034,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0
9,005015,046,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0

In [10]:
#6.0 Deflactar variables

    #6.1. Cargar base con deflactores
    
  #Deflactor espacial:
      # ld de base

  #Deflactor temporal:
deflactor = pd.read_stata(r"../../enaho/2020/737-Modulo34/737-Modulo34/ConstVarGasto-Metodologia actualizada/Gasto2020/Bases/deflactores_base2020_new.dta",)
deflactor = deflactor[ ["dpto", "aniorec", "i00" ]]
deflactor

     dpto  aniorec       i00
0     1.0   2001.0  0.607886
1     2.0   2001.0  0.565700
2     3.0   2001.0  0.636805
3     4.0   2001.0  0.532813
4     5.0   2001.0  0.571589
..    ...      ...       ...
475  21.0   2020.0  1.000000
476  22.0   2020.0  1.000000
477  23.0   2020.0  1.000000
478  24.0   2020.0  1.000000
479  25.0   2020.0  1.000000

[480 rows x 3 columns]

In [11]:
    #6.2. Unir deflactor a la base.
enaho = pd.merge(merge_append, deflactor,
                           on = ["dpto", "aniorec"], 
                           how = 'left',
                           validate = "m:1")
enaho

,conglome,vivienda,hogar,ubigeo,aniorec,mieperho,inghog1d,gashog2d,ld,dpto,i00
0,005009,012,11,010101,2020.0,2.0,37274.425781,25065.796875,0.815806,1.0,1.000000
1,005009,041,11,010101,2020.0,2.0,41967.570312,28650.019531,0.815806,1.0,1.000000
2,005009,056,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0,1.000000
3,005009,084,11,010101,2020.0,NaN,NaN,NaN,NaN,1.0,1.000000
4,005009,098,11,010101,2020.0,6.0,42292.535156,38136.218750,0.815806,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
97286,011350,022,11,180101,2019.0,3.0,53529.687500,37693.914062,0.854033,18.0,0.983591
97287,011350,059,11,180101,2019.0,3.0,47931.878906,23070.037109,0.854033,18.0,0.983591
97288,011350,078,11,180101,2019.0,3.0,19304.390625,17665.404297,0.854033,18.0,0.983591
97289,011350,097,11,180101,2019.0,5.0,20722.503906,19194.562500,0.854033,18.0,0.983591
97290,011350,116,11,180101,2019.0,3.0,28237.265625,20285.361328,0.854033,18.0,0.983591

In [12]:
#7.0 Dividir las variables de ingreso y gasto por mieperho, 12, id e i00

enaho['den']=enaho['mieperho']*enaho['ld']*enaho['i00']*12  #denominador

#Ingreso per cápita = ipc
enaho['ipc'] = enaho['inghog1d'] / enaho['den']   #mensual

#Gasto per cápita = gpc
enaho['gpc'] = enaho['gashog2d'] / enaho['den']   #mensual

In [13]:
#8.0 Mismos resultados que en R
enaho= enaho.sort_values(["aniorec", "conglome", "vivienda", "hogar"])
enaho

,conglome,vivienda,hogar,ubigeo,aniorec,mieperho,inghog1d,gashog2d,ld,dpto,i00,den,ipc,gpc
53423,005001,007,11,010101,2019.0,4.0,36268.609375,31502.792969,0.815806,1.0,0.982802,38.485255,942.402727,818.567861
53424,005001,017,11,010101,2019.0,6.0,29571.716797,24307.929688,0.815806,1.0,0.982802,57.727883,512.260548,421.077798
53425,005001,028,11,010101,2019.0,NaN,NaN,NaN,NaN,1.0,0.982802,NaN,NaN,NaN
53426,005001,040,11,010101,2019.0,4.0,30884.748047,19573.978516,0.815806,1.0,0.982802,38.485255,802.508596,508.609816
53427,005001,050,11,010101,2019.0,4.0,56722.804688,43146.253906,0.815806,1.0,0.982802,38.485255,1473.884077,1121.111288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49757,020353,036,11,250103,2020.0,NaN,NaN,NaN,NaN,25.0,1.000000,NaN,NaN,NaN
49758,020353,043,11,250103,2020.0,NaN,NaN,NaN,NaN,25.0,1.000000,NaN,NaN,NaN
49759,020353,049,11,250103,2020.0,1.0,18743.167969,15014.431641,0.954151,25.0,1.000000,11.449809,1636.985232,1311.325967
49760,020353,055,11,250103,2020.0,8.0,51161.332031,45286.875000,0.954151,25.0,1.000000,91.598471,558.539151,494.406453
49761,020353,062,11,250103,2020.0,6.0,32124.960938,33947.632812,0.954151,25.0,1.000000,68.698853,467.620048,494.151377